// sass/variables.scss

// Colors
$primary-color: #3B82F6; // Colore principale
$secondary-color: #FBBF24; // Colore secondario
$text-color: #374151; // Colore del testo
$border-color: #D1D5DB; // Colore del bordo
$border-radius: 0.375rem; // Raggio del bordo

$accent-color: #e74c3c;    // Red color used for alerts or important highlights
$text-color: #333;          // Dark gray color for main text to ensure readability
$background-color: #f4f4f4; // Light gray color for the background of the application



// Fonts
$font-stack: 'Arial', sans-serif; // Default font stack used across the application

// Sizes
$base-padding: 16px;   // Base padding for spacing inside elements
$base-margin: 16px;    // Base margin for spacing outside elements
$border-radius: 4px;   // Default border radius for rounded corners
