<nav class="navbar">
    <div class="navbar-header">
        <h1 class="site-title">Book Store</h1>
        <div class="auth-links">
            <a href="/user/login">Login</a>
            <a href="/user/logout">Logout</a>
            <a href="/user/register">Register</a>
        </div>
    </div>
    <ul class="navbar-menu">
        <li><a href="/user/get">All Users</a></li>
        <li><a href="/books/books">All Books</a></li>
        <li><a href="books/books/add">Add Book</a></li>
    </ul>
</nav>
