// forms.scss
@import '../variables.scss';

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 400px; // Imposta la larghezza massima del modulo
    margin: 0 auto; // Centra il modulo orizzontalmente
    padding: 1.5rem; // Padding interno per il modulo
    background-color: $background-color; // Colore di sfondo definito in variables.scss
    border: 1px solid $border-color; // Bordo definito in variables.scss
    border-radius: $border-radius; // Bordo arrotondato definito in variables.scss
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombra per dare profondità

    .form-group {
        margin-bottom: 1rem; // Spazio tra i gruppi di input

        label {
            display: block;
            margin-bottom: 0.5rem; // Spazio sotto l'etichetta
            font-weight: bold; // Grassetto per l'etichetta
            color: $text-color; // Colore del testo definito in variables.scss
        }

        input {
            width: 100%; // Larghezza totale per l'input
            padding: 0.75rem; // Padding interno per l'input
            border: 1px solid $border-color; // Bordo definito in variables.scss
            border-radius: $border-radius; // Bordo arrotondato definito in variables.scss
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // Ombra leggera per l'input
            font-size: 1rem; // Dimensione del testo
            color: $text-color; // Colore del testo definito in variables.scss
            transition: border-color 0.2s; // Transizione per il colore del bordo

            &:focus {
                border-color: $primary-color; // Colore del bordo al focus
                outline: none; // Rimuovi l'outline predefinito
                box-shadow: 0 0 0 3px rgba($primary-color, 0.5); // Ombra al focus
            }
        }
    }

    .submit-btn {
        padding: 0.75rem; // Padding per il bottone
        background-color: $primary-color; // Colore di sfondo definito in variables.scss
        color: white; // Colore del testo bianco
        font-weight: bold; // Grassetto
        border: none; // Rimuovi il bordo predefinito
        border-radius: $border-radius; // Bordo arrotondato definito in variables.scss
        cursor: pointer; // Cambia il cursore al passaggio del mouse
        transition: background-color 0.2s; // Transizione per il colore di sfondo

        // &:hover {
        //     background-color: color.scale($primary-color, $lightness: -10%); // Scurisce il colore al passaggio del mouse
        // }
    }

    .retour-button {
        margin-top: 1rem; // Spazio sopra il bottone di ritorno

        a {
            text-decoration: none; // Rimuove la sottolineatura
            color: $primary-color; // Colore definito in variables.scss

            &:hover {
                text-decoration: underline; // Sottolinea al passaggio del mouse
            }
        }
    }
}

